#id-profile-photo{
    width: 95%;
    border-radius: 10px;
}

.jumbotron{
    background-color: #eee;
    border-radius: 10px;

}

.indent-4 {
    text-indent: 5%;
  }

.center{
    margin-left: auto;
    margin-right: auto;
}